@import "tailwindcss";


.split-title {
  display: flex;
  justify-content: center;
}

h1,h2,h3{
  font-family: "Inter", sans-serif;
}
.split-title__text {
  position: relative;
  display: inline-block;
  cursor: pointer;

  font-family: serif;
  font-size: 4.75rem;
  line-height: 1;
  letter-spacing: -0.04em;

  color: #000;
}

/* Hide the original text */
.split-title__text {
  color: transparent;
}

/* Both halves */
.split-title__top,
.split-title__bottom {
  position: absolute;
  left: 0;

  width: 100%;

  color: #000;

  white-space: nowrap;

  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

/* TOP HALF */

.split-title__top {
  top: 0;

  clip-path: inset(0 0 50% 0);
}

/* BOTTOM HALF */

.split-title__bottom {
  top: 0;

  clip-path: inset(50% 0 0 0);
}

/* Middle word */

.split-title__word {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scaleY(0);

  color: #85a30f;

  white-space: nowrap;

  opacity: 0;

  transition:
    transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s ease;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* =========================
   HOVER
========================= */

.split-title__text:hover .split-title__top {
  transform: translateY(-35px);
}

.split-title__text:hover .split-title__bottom {
  transform: translateY(35px);
}

.split-title__text:hover .split-title__word {
  transform: translate(-50%, -50%) scaleY(1);

  opacity: 1;
}



/* marque */
.curved-loop-jacket {
  position: relative;

  width: 100%;
  height: 75px;

  display: flex;
  align-items: center;

  overflow: hidden;

  background: #111111;

  cursor: grab;

  user-select: none;
  -webkit-user-select: none;
}

.curved-loop-jacket:active {
  cursor: grabbing;
}

.curved-loop-track {
  display: flex;
  align-items: center;

  width: max-content;

  will-change: transform;
}

.curved-loop-text {
  flex-shrink: 0;

  display: flex;
  align-items: center;

  white-space: nowrap;

  font-size: clamp(
    1.4rem,
    3vw,
    3rem
  );

  line-height: 1;

  font-weight: 700;

  letter-spacing: 0.08em;

  text-transform: uppercase;

  color: #ffffff;
}

.marquee-gap {
  display: inline-block;

  margin: 0 40px;

  font-size: 0.65em;
}

@keyframes wattageImageChange {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-wattage-change {
  animation: wattageImageChange 0.4s ease-out;
}
